{% extends 'backoffice.base.html.twig' %}
{% block body %}
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">
                {{ action_to_do|trans }} {{ page_title|trans }}
            </h4>
            {% block breadcrumbs %}
                <ul class="breadcrumbs d-none d-sm-block">
                    <li class="nav-home">
                        <a href="{{ path('employee_index') }}">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path(index_path) }}  ">{{ 'List'|trans }}</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">{{ action_to_do|trans }}</a>
                    </li>
                </ul>
            {% endblock %}

            {% block goBackButton %}
                <span class="back-button d-none d-sm-block">
                    <a class="pull-right btn black" href="{{ path(index_path) }}">
                        <small>
                            <span class="btn-label">
                                <i class="fas fa-chevron-circle-left"></i>
                            </span>
                            {{ 'Back'|trans }}
                        </small>
                    </a>
                </span>
            {% endblock %}
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    {% block form_body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% block modals %}{% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/blog/_shared/form/validate.form.fields.js') }}"></script>
    {% if not form.vars.valid %}
        <script src="{{ asset('assets/js/blog/_shared/form/display.error.message.on.invalid.field.js') }}"></script>
    {% endif %}

{% endblock %}
