{% extends 'backoffice/list_items_base.html.twig' %}
{% block title %}  {{ section_title }} {% endblock %}
{% block page_title %} {{ section_title }} {% endblock  page_title %}
{% block table %}
    <table id="add-row"
           class="display table table-striped table-hover dataTable"
           role="grid"
           aria-describedby="add-row_info">
        <thead>
            <tr role="row">
                <th class="d-none d-sm-table-cell">
                    Location
                </th>
                <th class=" d-none d-sm-table-cell">
                    Cost
                </th>
                <th class="d-none d-sm-table-cell" style="width: 132.8px;">
                    {{ 'Action'|trans }}
                </th>
            </tr>
        </thead>
        <tbody>
        {% for location_costs in pagination %}
            <tr role="row" class="odd" >
                <td class=" d-table-cell d-sm-none cursor-pointer"
                    data-toggle="modal"
                    data-target="#mobile-actions-modal"
                    data-edit_path="{{ path(edit_path, {'locationCosts': location_costs.id}) }}"
                    data-form_action_attribute_to_delete="{{ path(delete_path, {'locationCosts': location_costs.id}) }}"
                    data-confirmation_message_to_delete='{{ 'The  "%location%".'|trans({'%location%': location_costs.location}) }}'
                    data-modal_title='{{ location_costs.location }}'
                >
                    <div class="row pt-2">
                        <div class="col-10">
                            <ul>
                                <li>{{ location_costs.location }}</li>
                                <li>{{ location_costs.cost }}</li>
                            </ul>
                        </div>
                        <div class="col-2"><i class="fas fa-ellipsis-v"></i></div>
                    </div>
                </td>
                <td class="d-none d-sm-table-cell">{{ location_costs.location }}</td>
                <td class="d-none d-sm-table-cell">{{ location_costs.cost }}</td>
                <td class="d-none d-sm-table-cell">
                    <div class="d-block d-sm-none">
                        <button type="button" class="btn btn-link text-dark">
                            <i class="fas fa-ellipsis-v"></i>
                        </button>
                    </div>
                    <div class="d-none d-sm-block">
                    <span class="form-button-dots">
                        <i class="fas fa-ellipsis-v"></i>
                    </span>
                        <span class="form-button-action">
                        <a href="{{ path(edit_path, {'locationCosts': location_costs.id}) }}"
                           class="editItemLink btn btn-link btn-primary btn-lg">
                            <i class="fa fa-edit"></i>
                        </a>
                        <button type="button"
                                class="btn btn-link btn-danger delete"
                                data-toggle="modal"
                                data-target="#delete-confirmation-modal"
                                data-form_action_attribute_to_delete="{{ path(delete_path, {'locationCosts': location_costs.id}) }}"
                                data-confirmation_message_to_delete='{{ 'The  "%location%".'|trans({'%location%': location_costs.location}) }}'
                        >
                            <i class="fa fa-times"></i>
                        </button>

                    </span>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td class="text-center" colspan="3">
                    <i class="fas fa-exclamation-circle text-info"></i> &nbsp;{{ 'No results were found.'|trans }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
